{% extends "store/base.html" %}
{% block body %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra eget quam ut finibus. Vestibulum vel ex vitae nisi vulputate pretium. Suspendisse ullamcorper molestie est, sed sollicitudin mi tristique a. Nunc at tristique eros. Morbi a diam purus. In tempor, orci sed pellentesque ornare, libero est pretium velit, vestibulum commodo ligula diam id lacus. Quisque lobortis felis nisi, ac aliquet leo rhoncus sed. In varius enim id odio scelerisque faucibus. Pellentesque odio est, venenatis quis arcu a, posuere porta sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Nullam faucibus lorem eget ligula vulputate condimentum.

        Sed bibendum felis non mi dapibus, non imperdiet eros hendrerit. Maecenas consequat, odio vitae faucibus tempus, metus dui dignissim turpis, id interdum urna neque eget lacus. Nulla ultricies, massa eget aliquam aliquam, sem ante sodales magna, vel ultrices neque nulla nec orci. Mauris sodales risus sed fermentum tincidunt. Nulla nec mauris vitae dui rutrum lobortis. Nam vel arcu eu lacus cursus convallis. Quisque quis nibh et nulla euismod rutrum et et tortor. Phasellus quis lectus accumsan, pharetra elit in, aliquam tortor. Fusce ac ex consequat, molestie tellus non, blandit enim. In tincidunt eget purus quis pellentesque. Sed consectetur sem ut suscipit commodo. In hac habitasse platea dictumst. Mauris in erat quis mi semper tincidunt molestie vel massa.
        
        Phasellus vitae lectus ut odio imperdiet molestie. Morbi id risus a tortor ullamcorper ullamcorper. Donec ipsum arcu, posuere efficitur nulla ut, semper efficitur erat. Nam eu posuere nisl, vel cursus velit. Nulla non eros turpis. Integer lacinia elementum elit. Nulla ut malesuada nulla. Phasellus accumsan quis orci tristique gravida. Morbi id leo odio. Pellentesque sollicitudin mattis arcu in bibendum.
        
        Quisque ut nisi sed ipsum porttitor rutrum eget viverra dolor. Phasellus consectetur mollis purus sed elementum. Aliquam dapibus velit fringilla, posuere ex a, iaculis quam. Maecenas egestas nisl nec est semper facilisis a non neque. Ut vestibulum dui a tempor convallis. Quisque et semper turpis. Vestibulum sit amet velit vitae lorem consectetur lobortis quis ac odio. Suspendisse accumsan, velit nec pharetra aliquam, lectus ex gravida elit, at imperdiet nibh lorem id sapien. Suspendisse scelerisque nunc quis diam volutpat, accumsan finibus velit pellentesque. Vivamus venenatis erat massa, vitae pretium quam vulputate vitae. Ut purus leo, tincidunt eget felis sit amet, eleifend euismod nisi. In hac habitasse platea dictumst. Mauris eget lacus sed augue dictum lobortis. Curabitur vitae tempor nulla, congue ultricies mi.
        
        Nulla facilisi. Pellentesque interdum odio in mauris laoreet dictum. Phasellus in velit faucibus, malesuada ipsum ac, cursus nunc. Nulla non quam eu turpis efficitur placerat id non nibh. Cras volutpat felis quis magna mollis congue. Praesent ut elit suscipit, convallis nibh porttitor, euismod risus. Nunc lacinia vitae metus in gravida.</p>
    <p>{{app_name}}</p>
    <p>{{app_ver}}</p>
    <p>{{app_desc}}</p>
{% endblock %}