{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'store/css/styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

        <title>Store</title>
    </head>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark">
            <p><img width="150" id="base-header-img" src="{{ MEDIA_URL }}img/jk.png" alt="Imagen Compañia"></p>
            <ul class="navbar-nav ml-auto" >
                {% if user.is_authenticated %}
                    <li class="nav-link">Usuario: {{ user.get_full_name }}</li> <a role="button" class="btn btn-outline-primary" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                {% else %}                  
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                
                <li class="nav-item"><a class="nav-link" href="#">Registro</a></li>
                {% if perms.store.view_shop_cart or not user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'cart' %}">Carrito</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

    {% block base %}
    <body>
        <div id="base-menu" class="navbar navbar-expand-sm navbar-dark" style="background-color: #e3f0fd;">
            
            <div id="menu-buttons" class="navbar-collapse">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
                <a class="nav-link active" href="{% url 'categories' %}">Categorias</a>
                <a class="nav-link active" href="{% url 'about' %}">Acerca de...</a>
                <a class="nav-link active" href="mailto:dhluna@gmail.com">Contacto</a>
                {% if perms.store.add_product %}
                <a class="nav-link active" href="{% url 'product_new' %}">Nuevo producto</a>
                {% endif %}
            </div>
            <div id="menu-search">
                <form action="{% url 'search' %}" method="POST">                
                <div class="input-group mb-2">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="s_name_desc" placeholder="producto/descripción" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                </div>
                </form>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
    {% endblock %}

    <footer>
        <div id="footer" class="shadow p-3 mb-5 bg-body rounded">
            <div>{{company_name}}</div>
            <div>{{copyright}}</div>
            <div>{{ndeveloper}}</div>
        </div>
    </footer>
</html>