{% extends "store/base.html" %}
{% block body %}
<div class="shadow-sm p-3 mb-5 bg-body rounded"><p class="fs-1">Categorias</p></div>

<ul class="list-group">
{% for cate in categories%}

<a href="{% url 'search' cate.id %}" class="list-group-item list-group-item-action list-group-item-light">{{cate.description}}</a>
{% endfor %}
</ul>

{% endblock %}