{% extends "store/base.html" %}
{% block body %}
<div id="prod-list" class="row">
        {% for prod in products_top3 %}
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{prod.name}}</h5>
              </div>
              <img id="prod_image" src="{{ media_url  }}{{ prod.image.url }}" class="card-img-top" alt="{{ prod.image.name }}">
              <a href="{% url 'product' prod.id %}" class="btn btn-primary">Ver</a>
            </div>
          </div>  
        {% empty %}
          <div class="card-body">No hay productos.</div>
        {% endfor %}
      </div>
<br>
        <div class="list-group">
          {% for prod in products_next %}
          <a href="{% url 'product' prod.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{prod.name}}</h5>
            </div>
            <p class="text-muted">{{prod.description}}</p>
          </a>
          {% endfor %}
        </div>

{% endblock %}