{% extends "store/base.html" %}

{% block body %}

<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Guardar">
    <a id="links" class="cancel" href="../">Cancelar</a>
</form>

{% endblock %}
