{% extends "store/base.html" %}
{% block body %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ media_url  }}{{ product.image.url }}" width="200" class="img-fluid rounded-start" alt="{{ product.image.name }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <a href="{% url 'search' product.category_id.id %}" class="list-group-item list-group-item-action list-group-item-light">Categoria: {{product.category_id}}</a>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><small class="text-muted">Precio: $ {{ product.price }}</small></p>
        {% if perms.store.view_shop_cart or not user.is_authenticated %}
        <a href="{% url 'cart_add' product.id %}" class="btn btn-outline-success">Agregar al carrito</a>
        {% endif %}
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="card-body">
        {% if perms.store.change_product %}
        <a href="{% url 'product_upd' product.id %}" class="btn btn-outline-success">Editar</a>
        {% endif %}

        {% if perms.store.delete_product %}
        <a href="{% url 'product_del' product.id %}" class="btn btn-outline-success">Borrar</a>
        {% endif %}
      </div>
    </div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="../../" class="btn btn-primary me-md-2">Atras</a>
    </div>

    <p></p>
  </div>
</div>

{% endblock %}