{% extends "store/base.html" %}

{% block body %}

<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
    <h1>Seguro que desea borrar el producto "{{product.name}}"?</h1>
    <input type="submit" value="Si">
    <a id="links" class="cancel" href="../">Cancelar</a>
</form>

{% endblock %}
