{% extends "store/base.html" %}
{% block body %}

<div class="shadow-sm p-3 mb-5 bg-body rounded"><p class="fs-1">Productos</p></div>
{% if search_resu %}
<div class="list-group"></div>
{% for prod in search_resu%}
    <a href="{% url 'product' prod.id %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{prod.name}}</h5>
      </div>
      <p class="text-muted">{{prod.description}}</p>
    </a>
    {% endfor %}
  </div>
{% else %}
<div class="alert alert-warning" role="alert">
  No se encontraron coincidencias con tu búsqueda
</div>  
{% endif %}

{% endblock %}